###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.c text eol=crlf
*.cpp text eol=crlf
*.h text eolf=crlf

*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.vcxproj.user text eol=crlf

*.db binary
*.sln merge=binary
*.vcxproj merge=binary
